:root {
  --primary-colors-first: #70908bff;
  --primary-colors-second: #07484aff;
  --secondary-colors-first: #caf3e5ff;
  --secondary-colors-second: #caf3e5ff;
  --secondary-colors-third: #eeebffff;
  --secondary-colors-four: #fff4e7ff;
  --secondary-colors-five: #fdfbf8ff;
}
