.creation__content{
    padding-top: 100px;
    padding-bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.creation__box{
    width: 100%;
    max-width: 530px;
    background: #70908B;
    border-radius: 0px 16px 16px 0px;
    padding: 130px 0px 130px 30px;
    margin-right: 30px;
}
.creation__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 120.6%;
    color: #FDFBF8;
    margin: 0px;
    margin-bottom: 32px;
}
.creation__text{
    font-weight: 600;
    font-size: 24px;
    line-height: 23%;
    color: #FDFBF8;
    margin: 0px;
    margin-bottom: 43px;
}
.creation__list{
    position: relative;
    width: 100%;
    max-width: 1100px;
    display: flex;
    list-style: none;
    padding: 0px;
}
.creation__item{
    position: relative;
    width: 100%;
    max-width: 360px !important;
    margin: 0px 10px 0px;
    &:hover{
        .creation__btn{
            display: block;
        }
    }
}
.creation__btn{
    display: none;
    position: absolute;
    bottom: 40px;
    left: 22%;
    background: #FFFFFF;
    border-radius: 6px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    color: #000000;
    padding: 20px 24px;
}
.creation__str{
    display: block;
    margin-top: 43px;
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
    color: #FDFBF8;
}
.creative__btn__left{
    position: absolute;
    z-index: 1;
    top: 56%;
    left: -30%;
    display: block;
    margin-bottom: 24px;
    border: none;
    background: #E0EFF6;
    border-radius: 100px;
    padding: 15px;
}
.creative__btn__right{
    position: absolute;
    top: 56%;
    left: -25%;
    display: block;
    border: none;
    background: #F9D9DA;
    border-radius: 100px;
    padding: 15px;
}
@media only screen and (max-width: 1350px) {
    .creation__list{
        max-width: 600px;
    }
    .creative__btn__left{
        top: 58%;
        left: -60%;
    }
    .creative__btn__right{
        top: 58%;
        left: -45%;
    }
}

@media only screen and (max-width: 1100px) {
    .creation__list{
        max-width: 360px;
    }
    .creative__btn__left{
        top: 58%;
        left: -90%;
    }
    .creative__btn__right{
        top: 58%;
        left: -70%;
    }
}

@media only screen and (max-width: 856px) {
    .creation__list{
        max-width: 360px;
    }
    .creative__btn__left{
        top: 65%;
        left: -70%;
    }
    .creative__btn__right{
        top: 65%;
        left: -50%;
    }
}
@media only screen and (max-width: 730px) {
    .creation__list{
        max-width: 360px;
    }
    .creative__btn__left{
        top: 65%;
        left: -50%;
    }
    .creative__btn__right{
        top: 65%;
        left: -30%;
    }
    .creation__text{
        font-size: 24px;
        line-height: 95.6%;
    }
}
@media only screen and (max-width: 698px) {
    .creation__content{
        display: block;
    }
    .creation__box{
        width: 100%;
        max-width: 100%;
        border-radius: 0px;
        padding: 30px 0px 30px 20px;
        margin-bottom: 30px;
    }
    .creation__list{
        text-align: center !important;
        max-width: 360px;
        margin: 0px auto;
    }
    .creation__text{
        font-size: 24px;
        line-height: 95.6%;
    }
}
@media only screen and (max-width: 476px){
    .creation__title{
        font-size: 28px;
        line-height: 150%;
    }
    .creation__text{
        font-size: 18px;
        line-height: 120%;
    }
}