.testimonials__content{
    margin-top: 100px;
    margin-bottom: 100px;
}
.over__box{
    text-align: center;
}
.over__title{
    font-weight: 700;
    font-size: 64px;
    line-height: 85px;
    color: #07484A;
    margin: 0px;
    margin-bottom: 35px;
}
.over__text{
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #07484A;
    margin: 0px;
    margin-bottom: 100px;
}
.testimonials__box{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between;
}
.leon__box{
    width: 100%;
    max-width: 964px;
}
.leon__text{
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #07484A;
    margin: 0px;
    margin-bottom: 65px;
}
.leon__str{
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #07484A;
    margin: 0px;
    margin-bottom: 11px;
}
.leon__spn{
    display: block;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #07484A;
}
.left__btn{
    position: absolute;
    z-index: 1;
    top: 37%;
    right: 0px;
    display: block;
    margin-bottom: 24px;
    border: none;
    background: #E0EFF6;
    border-radius: 100px;
    padding: 18px;
}
.right__btn{
    position: absolute;
    top: 55%;
    right: 0px;
    display: block;
    border: none;
    background: #F9D9DA;
    border-radius: 100px;
    padding: 18px;
}
.slack__box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // overflow-x: scroll;
    padding-bottom: 120px;
}

.progress {
    display: block;
    width: 100%;
    max-width: 1380px;
    height: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #07484A;
    background-image: linear-gradient(to right, #70908B, #70908B);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size .6s ease-in-out;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.rewiew__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rewiew__button{
    position: relative;
    border: none;
    background-color: transparent;
    padding-right: 30px;
    &::before{
        position: absolute;
        width: 13px;
        height: 19px;
        background-image: url("../../images/right-btn.svg");
        background-repeat: no-repeat;
        background-size: auto;
        top: 9px;
        right: 0px;
        content: '';
    }
}
.rewiew__link{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #07484A;
    text-decoration: none;
}
@media only screen and (max-width: 1124px) {
    .testimonials__box{
        gap: 15px;
    }
    .over__title{
        font-size: 48px;
        line-height: 129%;
        margin-bottom: 16px;
    }
    .over__text{
        font-size: 24px;
        line-height: 150%;
    }
    .leon__box{
        max-width: 450px;
    }
    .leon__text{
        font-size: 18px;
        line-height: 128%;
    }
    .leon__str{
        font-size: 24px;
        line-height: 28px;
    }
    .leon__spn{
        font-size: 24px;
        line-height: 28px;
    }
    .progress{
        max-width: 700px;
    }
    .rewiew__button{
        padding-right: 20px;
    }
    .rewiew__link{
        font-size: 18px;
        line-height: 21px;
    }
}

@media only screen and (max-width: 780px) {
    .testimonials__box{
        gap: 15px;
    }
    .over__title{
        font-size: 48px;
        line-height: 129%;
    }
    .over__text{
        margin-bottom: 80px;
    }
    .leon__text{
        font-size: 18px;
        line-height: 128%;
        margin-bottom: 32px;
    }
    .leon__str{
        font-size: 24px;
        line-height: 28px;
    }
    .leon__spn{
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
    }
    .progress{
        max-width: 500px;
    }
    .rewiew__link{
        font-size: 18px;
        line-height: 21px;
    }
}

@media only screen and (max-width: 650px) {
    .slack__box{
        text-align: center;
    }
    .testimonials__box{
        display: block !important;
    }
    .leon__box{
        margin: 0px auto;
    }
    .testimonials__img{
        display: block;
        margin: 0px auto;
        margin-bottom: 51px;
    }
    .rewiew__button{
        display: none;
    }
    .progress{
        max-width: 100%;
    }
}

@media only screen and (max-width: 450px) {
    .slack__box{
        padding-bottom: 60px;
    }
    .testimonials__img{
        width: 288px;
        height: 273px;
    }
    .leon__text{
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
    }
    .leon__str{
        font-size: 24px;
        line-height: 28px;
    }
    .leon__spn{
        font-size: 24px;
        line-height: 28px;
    }
    .rewiew__button{
        display: none;
    }
}